* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* 
  -May want to add "border-box for "box-sizing so padding does not affect width
  -Reset margin and padding 
 */
}

body {
  background: #344a72;
  font-family: 'Raleway', sans-serif;
  /* 
    -Background color is #344a72
  */
  color: #fff;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  /* 
  Underlined links are ugly :)
 */

}

#container {
  max-width: 400px;
  margin: 5px auto;
  padding: 20px;

  /* 
  -Remember, margin: auto on left and right will center a block element 
  -I would also set a "max-width" for responsiveness
  -May want to add some padding
  */
}

.form-wrap {
  background: #fff;
  padding: 15px 25px;
  color: #333;
  /* 
    This is the white area around the form and heading, etc
  */
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
  /* 
    May want to center these
  */
}

.form-wrap .form-group {
  

  /* 
    Each label, input is wrapped in .form-group
  */
  margin-top: 15px;
}

.form-wrap .form-group label {
  
  /* 
    Label should be turned into a block element
  */
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  width: 100%;
  border-radius: 3px;
  /* 
    Inputs should reach accross the .form-wrap 100% and have some padding
  */
  padding: 10px;
  border: #ddd 1px solid;
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #49c1a2;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* 
    Button should wrap accross 100% and display as block
    Background color for button is #49c1a2
  */
}

.form-wrap button:hover {
  background-color: #37a08e;
  /* 
    Hover background color for button is #37a08e
  */
}

.form-wrap .bottom-text {
  font-size: 13px;
  margin-top: 20px;
  /* 
    Bottom text is smaller
  */
}

footer {
  text-align: center;
  margin-top: 10px
  /* 
  Should be centered
 */
}

footer a {
  color: #49c1a2;
  /* 
    Footer link color is #49c1a2
  */
}