* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

/* Utilities */
.container{
  max-width: 800px;
  margin: auto;
  overflow: auto;
  padding: 0px 20px;
  

}

/* Navbar */
#header {
  position: sticky;
  top:0;
}

#navbar {
  
  margin: auto;
  background: #318ce7;
  color: #fff;
  overflow: auto;
  
}

#navbar a {
  color: #fff;
}

#navbar ul {
  list-style: none;
  float: left;  
  margin-left: 10px;
 
}

#navbar ul li {
  float: left;
  
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: #537fbb;
  color: #f4f4f4;
}



/* Body */

.journey{
  color: #333;
  padding: 10px;
  margin: 10px;

}

h2 {
  padding: 10px;
}

.box {
  color: #333;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px;
  
  box-sizing: border-box;
}


.box p{
  text-align: justify;
  line-height: 1.6em;
  padding: 10px;
}


.button {
  
  background: #318ce7;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  

  cursor: pointer;
}

.button:hover {
  background: #537fbb;

}




